<!-- <div class="container">
    <section class="row pt-5">
        <div id="currentJumble" class="col-5">
            <section class="row card shadow">
                <div class="col-12">
                    <b class="fs-3">EasyPeasy Jumble</b>
                    <b class="fs-3">Fastest Time:</b>
                </div>
                <div class="col-12">
                    <p>Content</p>
                </div>
            </section>


        </div>
        <div class="col-4">
            <div class="card">
                <p>Jumbles!</p>
                <span class="d-flex p-3 justify-content-between">
                    <button id="easypeasy" onclick="app.JungleController.makeJumble" type="button" class=""> start
                    </button>
                    <p>Easy Jumble</p>
                </span>
                <span class="d-flex p-3 justify-content-between">
                    <button id="mid" onclick="app.JungleController.makeJumble" type="button" class=""> start
                    </button>
                    <p>Medium Jumble</p>

                </span>
                <span class="d-flex p-3 justify-content-between">
                    <button id="crazy" onclick="app.JungleController.makeJumble" type="button" class=""> start
                    </button>
                    <p>CraZy Jumble</p>

                </span>
            </div>
        </div>
    </section>
</div> -->